#intro .carousel{
    background-color: limegreen;
    width: 100%;
    border-radius: 30px;
    height: 300px;
}

#intro .carousel img {
    border-radius: 30px;
    transition: 0.8s;
}

#intro .carousel img:hover {
    transform: scale(1.015);
    transition: 1s;
}

.front_banner_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    height: 40px;
}

.front_banner_btns span:nth-child(1){
    background: var(--bg-gradient-dark) !important;

}

.front_banner_btns span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--bg-gradient-white);
    cursor: pointer;
    transition: all 0.3s ease;
}

.front_banner_btns span:hover {
    background: var(--bg-gradient-dark);
    transform: translateY(-50%);
    transition: all 0.3s ease;

}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper_bottom {
    margin-top: -250px;
  }