.comp_products {
    margin-top: 60px;
}

.comp_croducts_toptxt span {
    font-weight: 539;
    font-size: 14px;
    color: #6C757D;
}

.comp_croducts_toptxt h1 {
    display: inline-block;
    font-weight: 539;
    font-size: 14px;
    color: #1e1e1e;
}

.comp_acsessuars {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.comp_acsessuars .acseesuars_card {
    /* padding-top: 20px; */
    width: 293px;
    height: 290px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.comp_acsessuars .acseesuars_card img {
    mix-blend-mode: multiply;

}

.acseesuars_card .acseesuars_card_txt {
    width: 219px;
    height: 38px;
    text-align: center;
}

.acseesuars_card .acseesuars_card_txt a {
    text-align: center;
    font-weight: 539;
    font-size: 16px;
    color: #1e1e1e;
}

.acseesuars_card {
    border-radius: 10px;
    position: relative;
}

.acseesuars_card h1 {
    position: absolute;
    bottom: -5px;
    font-weight: 539;
    font-size: 16px;
    color: #6C757D;
}

.product_top_cards{
    margin-left: -10px;
}