:root{
    --bg-white-blue:#ECF4FF;
    --bg-primary-blue:#0D63F3;
    --bg-darken:#1E1E1E;
    --bg-gray:#6C757D;
    --bg-silver:#E4E7EE;
    --bg-gradient-dark:linear-gradient(90deg, rgba(246,77,77,1) 0%, rgba(77,94,246,1) 100%);
    --bg-gradient-white:linear-gradient(90deg, rgba(246, 77, 77, 0.237) 0%, rgba(77, 94, 246, 0.258) 100%);

    --main-font:'Nuckle', sans-serif;
    --card-shadow:rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}